RewriteEngine on

RewriteRule  ^inscripcion$ index.php?aa=2013&evento=SegundasJornadasAcademicas&accion=inscripcion
RewriteRule  ^2014/inscripcionVisitadorMedico/suscripcion$ testform.php?aa=2014&evento=inscripcionVisitadorMedico&accion=inscripcion
RewriteRule  ^2014/inscripcionVisitadorMedico/gracias$ testform.php?aa=2014&evento=inscripcionVisitadorMedico&accion=gracias
RewriteRule  ^(\w+)$ index.php?aa=$1
RewriteRule  ^(\w+)/(\w+)$ index.php?aa=$1&evento=$2
RewriteRule  ^(\w+)/(\w+)/(\w+)$ index.php?aa=$1&evento=$2&accion=$3
AuthUserFile "/home/uv9007/.htpasswds/public_html/passwd"
AuthName "Montpe"
